

.contenedor_principal_titulo{
    font-size: 30px;
    margin: 40px;
    text-align: center;
    font-weight: 700;
}

.contenedor_presentacion_parafo{
    margin: 20px;
    margin: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.contenedor_principal_h2{
    margin: 20px 0px 10px 20px ;
}

hr{
    border: 1px solid rgb(85, 100, 85);
    width: 50%;
    margin-bottom: 40px;
}



.contenedor_principal_1{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(390px,1fr));
    gap: 10px;
    
    

}

/*.contenedor_principal_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}*/




.box{
    
    padding: 10px;
    
}

img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

img:hover{
    opacity: 0.9;
    transform: scale(1.1);
    
}

.contenedor-pie-pagina{
    background-color: rgb(194, 192, 192);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500px;
}

.contenedor-pie-pagina .fa-brands{
    font-size: 30px;
    margin: 10px;
}
